# Servidor
PORT=3003
NODE_ENV=development

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=backmp

# MercadoPago
MP_ACCESS_TOKEN=your_access_token_here
MP_PUBLIC_KEY=your_public_key_here

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=24h

# CORS
CORS_ORIGIN=http://localhost:3000
SOCKET_CORS_ORIGIN=http://localhost:3000 